@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #323C46; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #666666;
  margin-top: 0;
  margin-bottom: 15px; }

h1 {
  font-size: 4rem;
  line-height: 6.2rem;
  font-weight: 400; }

h2 {
  font-size: 3.2rem;
  line-height: 4.8rem; }

h3 {
  font-size: 2.8rem;
  line-height: 4.2rem; }

h4 {
  font-size: 2.4rem;
  line-height: 3.6rem; }

body {
  background: #F5F8FA; }

a,
button,
input[type="submit"] {
  transition: all .2s ease-in-out; }

a {
  color: #63B1BC; }
  a:visited {
    color: #63B1BC; }
  a:hover {
    color: #508590; }
  a:active, a:focus {
    color: #63B1BC; }
  a:hover {
    text-decoration: none; }

input.form-control,
textarea.form-control,
.icon-input-group select {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  transition: border-color .3s ease-in-out; }
  input.form-control:focus,
  textarea.form-control:focus,
  .icon-input-group select:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(52, 183, 143, 0.3);
    border-color: #34B78F; }

input.form-control {
  height: 40px; }

.form-group {
  margin-bottom: 25px; }
  .form-group label {
    font-size: 1.4rem;
    line-height: 2.1rem; }
  .form-group select {
    padding: 0 20px 0 45px;
    height: 40px;
    width: 100%; }

.row {
  margin-bottom: 30px; }

.panel {
  padding: 20px; }
  .panel .panel-title {
    font-weight: bold; }

.panel-with-sections {
  padding: 0; }
  .panel-with-sections .panel-body {
    padding: 20px; }

.text-danger {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: bold; }

header {
  background: #63B1BC; }
  header:after {
    content: "";
    display: table;
    clear: both; }
  header .logo {
    float: left;
    padding: 10px 0; }
    header .logo img {
      width: 150px;
      height: auto;
      display: block; }
    @media screen and (min-width: 720px) {
      header .logo {
        padding: 10px 20px; } }
  header .glyphicon-menu-hamburger {
    color: #FFFFFF;
    float: right;
    font-size: 24px;
    margin-top: 18px; }
    @media screen and (min-width: 720px) {
      header .glyphicon-menu-hamburger {
        display: none; } }
  header .navigation-wrapper {
    clear: both;
    display: none; }
    @media screen and (min-width: 720px) {
      header .navigation-wrapper {
        clear: none;
        display: block; } }
  header nav .navigation-items {
    padding: 0;
    margin: 0; }
    header nav .navigation-items li {
      list-style: none; }
      header nav .navigation-items li.active a {
        color: #FFFFFF; }
        header nav .navigation-items li.active a:visited {
          color: #FFFFFF; }
        header nav .navigation-items li.active a:hover {
          color: #FFFFFF; }
        header nav .navigation-items li.active a:active, header nav .navigation-items li.active a:focus {
          color: #FFFFFF; }
    header nav .navigation-items a {
      color: rgba(255, 255, 255, 0.5);
      font-size: 1.4rem;
      line-height: 2.1rem;
      font-weight: 400;
      padding: 5px;
      display: block; }
      header nav .navigation-items a:visited {
        color: rgba(255, 255, 255, 0.5); }
      header nav .navigation-items a:hover {
        color: #FFFFFF; }
      header nav .navigation-items a:active, header nav .navigation-items a:focus {
        color: rgba(255, 255, 255, 0.5); }
      header nav .navigation-items a:hover {
        color: #FFFFFF; }
  @media screen and (min-width: 720px) {
    header nav {
      float: left;
      margin-top: 14.5px;
      padding-left: 15px;
      border-left: 1px solid rgba(255, 255, 255, 0.5); }
      header nav .navigation-items li {
        display: inline-block; } }
  header .account-buttons {
    text-align: center;
    margin-top: 20px; }
    header .account-buttons .btn {
      display: block;
      margin: 20px 0; }
    @media screen and (min-width: 720px) {
      header .account-buttons {
        margin: 12px 20px 0 0;
        float: right;
        text-align: left; }
        header .account-buttons .label-info {
          margin-right: 15px; }
        header .account-buttons .btn {
          display: inline-block;
          margin: 0; } }

footer {
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 400;
  background: #63B1BC;
  text-align: center;
  color: #FFFFFF;
  padding: 20px 0; }

.btn-primary, .btn-danger {
  color: #FFFFFF;
  background: #E73C3E;
  border-color: #E73C3E; }
  .btn-primary:visited, .btn-danger:visited {
    color: #FFFFFF; }
  .btn-primary:hover, .btn-danger:hover {
    color: #FFFFFF; }
  .btn-primary:active, .btn-primary:focus, .btn-danger:active, .btn-danger:focus {
    color: #FFFFFF; }
  .btn-primary span, .btn-danger span {
    margin-right: 10px; }
  .btn-primary:focus:active, .btn-primary:focus, .btn-primary:active, .btn-primary:hover, .btn-danger:focus:active, .btn-danger:focus, .btn-danger:active, .btn-danger:hover {
    background-color: #d61a1c;
    border-color: #d61a1c; }
.btn-info {
  color: #FFFFFF;
  background: #508590;
  border-color: #508590; }
  .btn-info:visited {
    color: #FFFFFF; }
  .btn-info:hover {
    color: #FFFFFF; }
  .btn-info:active, .btn-info:focus {
    color: #FFFFFF; }
  .btn-info:focus:active, .btn-info:focus, .btn-info:active, .btn-info:hover {
    background-color: #3e676f;
    border-color: #3e676f; }
.btn-success {
  color: #FFFFFF;
  background: #34B78F;
  border-color: #34B78F; }
  .btn-success:visited {
    color: #FFFFFF; }
  .btn-success:hover {
    color: #FFFFFF; }
  .btn-success:active, .btn-success:focus {
    color: #FFFFFF; }
  .btn-success:focus:active, .btn-success:focus, .btn-success:active, .btn-success:hover {
    background-color: #298f70;
    border-color: #298f70; }
.btn:focus:active, .btn:focus, .btn.active, .btn:active {
  box-shadow: none; }
.btn:focus:active, .btn:focus {
  outline: none; }

.label-info {
  background-color: #508590; }

.banner {
  margin-bottom: 40px; }
  .banner img {
    width: 100%;
    height: auto; }

.message-label {
  width: 50px;
  height: auto;
  float: left; }

/*.login-box {
    margin: 0 auto;
    float: none;
    .icon-input-group {
        position: relative;
        .glyphicon {
            border-right: 1px solid #DDDDDD;
            color: $heading-grey;
            padding-right: 5px;
            position: absolute;
            left: 10px;
            top: 9px;
            font-size: 16px;
            line-height: 22px;
        }
        input {
            padding-left: 45px;
        }
    }
}*/
.login-box,
.group-box {
  margin: 0 auto;
  float: none; }
  .login-box .icon-input-group,
  .group-box .icon-input-group {
    position: relative; }
    .login-box .icon-input-group .glyphicon,
    .group-box .icon-input-group .glyphicon {
      border-right: 1px solid #DDDDDD;
      color: #666666;
      padding-right: 5px;
      position: absolute;
      left: 10px;
      top: 9px;
      font-size: 16px;
      line-height: 22px; }
    .login-box .icon-input-group input,
    .login-box .icon-input-group textarea,
    .group-box .icon-input-group input,
    .group-box .icon-input-group textarea {
      padding-left: 45px; }
    .login-box .icon-input-group.textarea-input-group .glyphicon,
    .group-box .icon-input-group.textarea-input-group .glyphicon {
      height: calc(100% - 17px); }

.button-box {
  text-align: center; }

.register-box {
  margin: 0 auto;
  float: none; }

.group-overview-box {
  margin: 0 auto;
  float: none; }

.page-header {
  margin: 20px 0 40px;
  border-bottom: 0;
  text-align: center; }
  .page-header h1 {
    position: relative; }
    .page-header h1:after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 70px;
      background: #34B78F; }
  @media screen and (min-width: 720px) {
    .page-header {
      padding: 0 40px; } }

.panel.home-panel {
  min-height: 275px; }
  .panel.home-panel p:last-of-type {
    margin-bottom: 40px; }

.organizations-find-block:after {
  content: "";
  display: table;
  clear: both; }
.organizations-find-block .form-group {
  margin-bottom: 0; }
  .organizations-find-block .form-group input {
    border-radius: 5px 5px 0 0; }
.organizations-find-block .btn {
  width: 100%;
  height: 40px;
  background: #DDDDDD;
  border: 1px solid #DDDDDD;
  color: #323C46;
  border-radius: 0 0 5px 5px; }
  .organizations-find-block .btn:active, .organizations-find-block .btn:hover {
    border: 1px solid #34B78F;
    background: #34B78F;
    color: #FFFFFF; }
@media screen and (min-width: 720px) {
  .organizations-find-block .form-group {
    float: left;
    width: 80%; }
    .organizations-find-block .form-group input {
      border-radius: 5px 0 0 5px; }
  .organizations-find-block .btn {
    float: left;
    width: 20%;
    border-radius: 0 5px 5px 0;
    margin-top: 29px; } }

.entity-organization {
  padding: 20px 10px; }
  .entity-organization .glyphicon-map-marker {
    margin-right: 10px;
    color: #34B78F; }
  .entity-organization address {
    display: inline-block;
    margin-bottom: 0; }
  .entity-organization.even {
    background: #FFFFFF; }

.multiple_emails-container {
  border: 1px #DDDDDD solid;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  cursor: text;
  width: 100%;
  min-height: 40px; }
  .multiple_emails-container input {
    clear: both;
    width: 100%;
    border: 0;
    outline: none;
    padding-left: 5px;
    box-sizing: border-box;
    height: 36px; }
    .multiple_emails-container input.multiple_emails-error {
      outline: thin auto #E73C3E; }
  .multiple_emails-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .multiple_emails-container ul li {
      position: relative; }
  .multiple_emails-container .email_name {
    padding-left: 35px;
    color: #FFFFFF; }
  .multiple_emails-container .glyphicon {
    position: static;
    line-height: 14px !important;
    vertical-align: baseline;
    color: #FFFFFF !important; }

.multiple_emails-email {
  margin: 5px 5px 5px 35px;
  padding: 3px 5px;
  border: 1px #508590 solid;
  border-radius: 5px;
  background: #63B1BC; }

.multiple_emails-close {
  line-height: 2.4rem; }

.hideEndDate,
.showEndDate {
  font-size: 1.2rem;
  line-height: 1.8rem;
  transition: all .2s ease-in-out;
  color: #508590;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: bold; }
  .hideEndDate:hover,
  .showEndDate:hover {
    color: #63B1BC; }

.showEndDate {
  display: none; }

.btn-primary {
  margin-right: 20px; }

.motivation-form .btn-info {
  margin-right: 20px; }
.motivation-form .icon-input-group {
  position: relative; }
  .motivation-form .icon-input-group .glyphicon {
    border-right: 1px solid #DDDDDD;
    color: #666666;
    padding-right: 5px;
    position: absolute;
    left: 10px;
    top: 9px;
    font-size: 16px;
    line-height: 22px; }
  .motivation-form .icon-input-group input {
    padding-left: 45px; }

/*# sourceMappingURL=site.css.map */
